.mainSection {
    width: 100%;
    position: relative;
}

.container {
    padding-top: 10%;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: start;
}

.mainSectionDescr {
    z-index: 100;
}

.hello {
    font-family: "Roboto";
    font-size: 34px;
    font-weight: 300;
    color: #fec544;
    margin-bottom: 10px;
}

.name {
    margin: 0;
    font-family: "Montserrat";
    font-size: 120px;
    margin-bottom: 24px;
    font-weight: 750;
    color: #fdfeff;
    line-height: 1;
}

.jobtitle {
    font-family: "Roboto";
    margin: 0;
    font-size: 32px;
    margin-bottom: 41px;
    font-weight: 300;
    color: #a9adb8;
}

.contactBtn:hover {
    cursor: pointer;
}

.mainPhotoWrp {
    display: flex;
    position: relative;
    z-index: 100;
    transform: translate(107px, -120px);
    opacity: 0.9;

}


.mainSocial {
    position: absolute;
    background-color: #2e3649;
    border: 1px solid #232935;
    border-right: 0;
    border-radius: 50px 0 0 50px;
    height: 11%;
    width: 55%;
    display: flex;
    align-items: center;
    bottom: 0;
    padding-left: 12px;
    z-index: 150;
    left: -280px;
}

.socialLinks {
    display: flex;
}

.socialSubtitle {
    box-sizing: border-box;
    text-transform: uppercase;
    position: absolute;
    height: 60px;
    width: 130px;
    top: -30px;
    left: 50%;
    transform: translateX(18%);
    font-size: 30px;
    font-weight: 900;
    color: rgba(20, 21, 23, 0.4);
    margin-top: 42px;
    visibility: visible;
}

.socialText {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 5px;

}

.socialLink {
    width: 50px;
    border-radius: 50px;
    background-color: #070d1b;
    border: 0.5px solid #3f4551;
    transition: all 0.4s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-decoration: none;
    z-index: 1;
}

.socialLink:hover {
    width: 130px;
    padding-right: 15px;
}

.socialLink:hover > .socialIconWrp > *{
    color: #FDC544;
}


.socialIconWrp {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;
    color: #a9adb8;
}

.socialIcon {
    font-size: 22px;
    font-weight: 400;
}

.socialIconName {
    font-weight: 600;
    color: #fdfeff;
    max-width: 0;
    transition: all 0.5s ease;
    visibility: hidden;
}

.socialLink:hover  .socialIconName {
    visibility: visible;
}

.arrowDown {
    position: absolute;
    bottom: 20px;
    margin: 30px;
    z-index: 1000;
}
.arrowDown span {
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid #FDC544;
    border-right: 5px solid #FDC544;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrowDown 2s infinite;
}
.arrowDown span:nth-child(2){
    animation-delay: -0.2s;
}
.arrowDown span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrowDown {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}



@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}


@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}



.stars,.twinkling,.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.stars {
    background: #000 url('../../assets/images/starsSky/stars.png') repeat top center;
    z-index: 0;

}

.twinkling {
    background: transparent url('../../assets/images/starsSky/twinkling.png') repeat top center;
    z-index: 1;
    animation: move-twink-back 200s linear infinite;
}

.clouds {
    background: transparent url('../../assets/images/starsSky/clouds.png') repeat top center;
    z-index: 3;
    animation: move-clouds-back 200s linear infinite;
    display: flex;
    justify-content: center;
}
.socialLinks2 {
    display: flex;
}

.socialIconWrp2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    color: #a9adb8;
}

.socialInfo2 {
    margin-top: 60px;
    display: none;
    flex-direction: column;
    align-items: start;


}

.socialIcon2{
    color: #FDC544;
    font-size: 30px;
}

.socialLink2 {
    width: 100%;
    border-radius: 50px;
    background-color: #070d1b;
    border: 0.5px solid #3f4551;
    transition: all 0.4s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

@media screen and (max-width: 1439px){
    .mainSection {
        min-height: 680px;
    }
    /*.stars {min-height: 700px;}*/
    /*.twinkling{min-height: 700px;}*/
    /*.clouds{min-height: 700px;}*/
    .container {
        padding-top: 70px;
        width: 100%;
    }
    .hello {
        font-size: 30px;
    }
    .name {
        font-size: 90px;
    }
    .jobtitle {
        font-size: 28px;
    }
    .mainPhotoWrp {
        height: 420px;
        transform: translateY(-100px);
    }
    .mainSocial {
        height: 45px;
        width: 230px;
        left: -230px;
    }
    .socialSubtitle {
        height: 20px;
        width: 100px;
        top: -32px;
        transform: translateX(26%);
        font-size: 22px;
    }

    .socialLink {
        height: 40px;
        width: 40px;
    }


}

.buttonLink {
    text-decoration: none;
}

@media screen and (max-width: 1023px){

    .container {
        margin-top: 100px;
    }
    /*.stars {min-height: 680px;}*/
    /*.twinkling{min-height: 680px;}*/
    /*.clouds{min-height: 680px;}*/

    .hello {
        font-size: 25px;
    }
    .name {
        font-size: 70px;
    }
    .jobtitle {
        font-size: 24px;
    }
    .mainPhotoWrp {
        height: 360px;
        transform: translateY(-100px);
    }
    .mainSocial {
        display: none;
    }
    .socialInfo2 {
        display: flex;
    }
}

@media screen and (max-width: 767px){
    .container {
        padding: 15px;
        margin-top: 80px;
    }

    .container {
        margin-top: 120px;
    }
    .hello {
        font-size: 25px;
    }
    .mainPhotoWrp {
        display: none;
    }

    .arrowDown {
        display: none;
    }

    .mainSectionDescr > button {
        display: block;
        margin: 0 auto;
    }
    .socialInfo2 {
        align-items: center;
    }

    .buttonLink {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 374px) {

    .hello {
        font-size: 22px;
    }
    .name {
        font-size: 50px;
    }


}

@media screen and (max-width: 280px) {
    /*.mainSection {*/
    /*    min-height: 470px;*/
    /*}*/
    /*.stars {min-height: 470px;}*/
    /*.twinkling{min-height: 470px;}*/
    /*.clouds{min-height: 470px;}*/


}

