
.servicesWrp {
    padding: 60px 20px 60px 20px;
    box-sizing: border-box;
    color: #a9adb8;
    background-color: #0a101e;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media screen and (max-width: 1440px){
    .servicesWrp {
        padding: 30px;
    }
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .servicesWrp {
        padding: 10px;
    }
}

