.ContactWrp {
    box-sizing: border-box;
    width: 100%;
    color: #a9adb8;
    background-color: #0a101e;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 60px 20px;
    position: relative;
}

.socialInfo2 {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    align-items: center;

}

.container {
    margin-top: 20px;
    width: 1140px;
    display: flex;
}

.height100 {
    height: 50px;
    width: 100%;
}

.infoBlock {
    width: 50%;
}

.formBlock {
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    font-size: 30px;
    font-weight: 400;
    margin-top: -6px;
    margin-bottom: 22px;
    color: #fdfeff;
}

.form {
    box-sizing: border-box;
}

.formElem {
    box-sizing: border-box;
    width: 90%;
    margin-bottom: 30px;
    text-align: left;
}

.formElem > input, textarea {
    display: block;
    width: 100%;
    color: #a9adb8;
    padding: 12px 20px;
    border: 1px solid #232935;
    background-color: #101624;
    height: 32px;
    border-radius: 7px;
}

.formElem > textarea {
    height: 150px;
}

.info {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #3f4551;
    border-radius: 50%;
    background-color: #070d1b;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    transition: all 0.4s ease;
}

.info:hover > .icon {
    border: 0.5px solid #FDC544;
}
.infoDetails {
    margin-top: 5px;
}

.infoDetails > h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: -4px;
    margin-bottom: 6px;
    color: #fdfeff;
    line-height: 1.2em;
}

.infoDetails > a {
    display: block;
    margin-bottom: -2px;
    text-decoration: none;
    color: #a9adb8;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

.socialLinks {
    display: flex;
}

.socialText {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 5px;
}

.socialLink {
    width: 100%;
    padding-right: 15px;
    margin-right: 20px;
    border-radius: 50px;
    background-color: #070d1b;
    border: 0.5px solid #3f4551;
    transition: all 0.4s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.socialLink:hover {
    border: 0.5px solid #FDC544;
}

.socialLink:hover > .socialIconWrp > *{
    color: #FDC544;
}

.socialIconWrp {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;
    color: #a9adb8;
}

.socialIcon {
    font-size: 22px;
    font-weight: 400;
}
.socialIconName {
    font-weight: 600;
    color: #fdfeff;
    max-width: 0;
    transition: all 0.5s ease;
}
.privacy {
    margin-top: 50px;
    margin-bottom: 15px;
}

.modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 25vh;
    background-color: rgba(38, 36, 36, 0.8);
}

.modalText {
    font-size: 25px;
    font-family: Roboto;
}

.close {
    font-size: 40px;
    position: absolute;
    top: 15px;
    right: 20px;
    color: #FDC544;
    cursor: pointer;
}


@media screen and (max-width: 1439px){
    .container {
        width: 98%;
    }
}

@media screen and (max-width: 1023px){
    .header {
        font-size: 28px;
    }
    .formElem {
        margin-bottom: 10px;
    }
    .icon {
        width: 35px;
        height: 35px;
    }
    .info {
        margin: 10px 0;
    }
    .infoDetails > h4 {
        font-size: 18px;
    }
    .socialText {
        font-size: 18px;
    }
    .socialLink {
        padding: 0;
        width: inherit;
        border-radius: 50px;
        opacity: 0.9;
        /*border: 1px solid #FDC544;*/
    }
    .socialIconName {
        display: none;
    }
    .socialIcon {
        color: #FDC544;
        font-size: 30px;
    }
    .socialText2 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 767px){
    .ContactWrp {
        padding: 10px 0 10px 0;
    }
    .infoBlock {
        display: none;
    }
    .socialInfo2 {
        display: flex;
    }
    .formBlock {
        width: 100%;
    }
    .header {
        text-align: center;
    }
    .formElem {
        width: 100%;
    }
    .form > button {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
    }
    .privacy {
        font-size: 12px;
    }
}

@media screen and (max-width: 374px) {
    .socialText2 {
        font-size: 16px;
        text-align: center;
        margin-bottom: 10px;
    }
    .privacy {
        font-size: 10px;
    }
}



